.footer {
    text-align: center;
    padding: 10px;
}

.app-info {
    margin-top: 20px;
    padding: 10px;
}

.highlight {
    font-weight: bold;
    /* Define a fonte em negrito */
    color: blue;
    /* Define a cor do texto em azul */
}